<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="UserDaoMapper">

    <!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
    <select id="queryUserById" resultType="cn.itcast.pojo.User">
        select *,user_name as userName from tb_user where id=#{id}
    </select>
    <!---->
    <select id="queryUserAll" resultType="cn.itcast.pojo.User" >
        select *,user_name as userName from tb_user
    </select>
    <insert id="insertUser" parameterType="cn.itcast.pojo.User">
       INSERT INTO tb_user (
			user_name,
			password,
			name,
			age,
			sex,
			birthday,
			created,
			updated
		)
		VALUES
			(
				#{userName},
				#{password},
				#{name},
				#{age},
				#{sex},
				#{birthday},
				NOW(),
				NOW()
			);
    </insert>
    <update id="updateUser" >
        UPDATE tb_user
        SET
        user_name= #{userName},
        password=#{password},
        name=#{name},
        age=#{age},
        sex=#{sex},
        birthday=#{birthday},
        updated=NOW()
        WHERE
        (id=#{id});
    </update>
    <delete id="deleteUserById" parameterType="java.lang.Long">
        DELETE FROM tb_user WHERE id=#{id}
    </delete>

</mapper>